.carousel-title-line {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.carousel {
  margin: 2rem 1rem;
}

.carousel .img-wrapper {
  border-radius: 8px;
}

.carousel-button {
  display: flex;

  justify-content: center;
  align-items: center;
  min-width: 36px;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--tertiary-clr-500);
  color: var(--tertiary-clr);
  padding: 8px;
  transition: background-color 200ms linear;
}

.carousel-button:hover,
.carousel-button:focus-visible {
  background-color: var(--tertiary-clr-200);
  color: var(--secondary-clr);
  transition: all 200ms linear;
}

.carousel-button:disabled {
  color: var(--tertiary-clr-200);
  border-color: var(--tertiary-clr-200);
  pointer-events: none;
  opacity: 0.25;
  cursor: not-allowed;
}

.carousel .carousel-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 0;
  height: auto;
  gap: 1rem;
}

.carousel .item {
  min-width: calc(50% - 1rem);
  height: auto;
}

@media (min-width: 500px) {
  .carousel-title-line {
    width: 60%;
    margin: 0 auto;
  }
  .carousel {
    width: 60%;
    margin: 2rem auto;
  }
}

@media (min-width: 768px) {
  .carousel-title-line {
    width: 80%;
  }
  .carousel {
    width: 80%;
  }
  .carousel .item {
    min-width: calc(25% - 0.5rem);
  }
}

@media (min-width: 1000px) {
  .carousel .item {
    padding: 0.5rem;
  }
}
