@use './App.scss' as *;

.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  @media (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    max-width: 700px;
    margin: 0 auto;
    gap: 2rem;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, minmax(200px, 250px));
    place-content: center;
    max-width: none;
    margin: 0;
  }

  .item {
    min-width: 50%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding-bottom: 1rem;
  background-color: $secondary-clr;

  .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 0.5rem;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  .item-price {
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .img {
    position: relative !important;
  }
}

.item-control {
  margin-top: auto;

  .btn.btn-item-control {
    @include flexCenter(row);
    border-radius: 0.5rem;
    border: 2px solid $primary-clr;
    background-color: $secondary-clr;
    color: $primary-clr;
    padding: 0.5rem 0.8rem;
    transition: background-color 200ms linear;

    &:hover,
    &:focus-visible {
      background-color: $primary-clr;
      color: $secondary-clr;
      transition: all 200ms linear;
    }

    &:disabled {
      color: $tertiary-clr;
      border: none;
      pointer-events: none;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.item-control.vertical {
  display: flex;
  align-items: center;
  gap: 1rem;

  .btn.btn-item-control {
    aspect-ratio: 1 / 1;
  }
}
